.form{
    border: none;
    margin: 0 auto;
    width: 30%;
    padding: 10px ;
    text-align: center;
}

.form > h1{
    color: rgb(131, 131, 221);
}

.form > input{
    padding: 10px 16px;
    width: 80%;
    border: solid rgb(194, 187, 187) 1px;
    border-radius: 5px;
    font-size: 18px;
}

.form > button{
    background-color: rgb(88, 88, 146);
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    padding: 12px 16px;
    font-size: 18px;
}